<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Pharmacy</title>
    <link rel="shortcut icon" href="~/images/logo.png">
    <link rel="stylesheet" href="~/assets/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/assets/plugins/alertify/alertify.min.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <style>
        /* Global Styles Defined Here */
        tr:nth-child(odd) {
            background-color: rgb(245 255 255) !important;
        }
        tr:nth-child(even) {
            background-color: rgb(255 252 252) !important;
        }
        td {
            text-align: center;
            border: 1px solid rgb(230 230 230) !important;
            padding: 1px !important;
        }
        th {
            text-align: center;
            background-color: rgb(240 240 240) !important;
            border: 1px solid rgb(230 230 230) !important;
            margin: 1px !important;
        }
        .my-photo-class {
            width: 50px;
            height: 50px;
            border: 1px black solid;
            border-radius: 25px;
            transition-duration: 1s;
            cursor: pointer;
        }
        .my-photo-class:hover {
            transform: scale(1.8);
        }
        .billPic:hover {
            transform: scale(1.4);
            cursor: zoom-in;
        }
        .billPic {
            border-radius: 2px;
            border: 2px grey solid;
            max-width: 100% !important;
            transition-duration: 1s;
        }
        .menu-item-text {
            color: black;
        }
        .card, .header, .sidebar {
            box-shadow: 0px 0px 14px 4px rgb(200, 200, 200);
        }
    </style>
</head>
<body class="nk-body bg-lighter npc-default has-sidebar no-touch nk-nio-theme">
    @Html.AntiForgeryToken()
    <div class="main-wrapper">
        @{
            await Html.RenderPartialAsync("Topbar.cshtml");
            await Html.RenderPartialAsync("Sidebar.cshtml"); 
        }
        <div class="page-wrapper">
            <div class="content container-fluid">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.min.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/assets/plugins/alertify/alertify.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/lib/fetchAPI.js"></script>
    <script>
        document.querySelector('ul[class="sticky-sidebar siderbar-view"]').hidden = true;
        const fetchAPI = new FetchAPI();
        async function getUserName () {
            const username = await fetchAPI.get("/AdminPanel/GetUserName/");
            document.querySelector('span[id="usernameSpan"]').innerHTML = username;
        }
        getUserName();
        async function logoutUser () {
            const result = await fetchAPI.get("/AdminPanel/Logout/");
            if (result) {
                window.location.href = "/AdminPanel/LoginPage";
            }
        }
    </script>
    @await RenderSectionAsync("Script", false)
</body>
</html>