<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li class="menu-title"><span>Main</span></li>
                <li class="active">
                    <a href="/AdminPanel/Index"><i data-feather="home"></i> <span class="menu-item-text">داشبورد</span></a>
                </li>
                <li>
                    <a href="/Employee/Index"><i data-feather="user"></i> <span class="menu-item-text">کارمندان</span></a>
                </li>
                <li>
                    <a href="/Customer/Index"><i data-feather="users"></i> <span class="menu-item-text">مشتریان</span></a>
                </li>
                <li>
                    <a href="/Company/Index"><i data-feather="layers"></i> <span class="menu-item-text">کمپنی‌ها</span></a>
                </li>
                <li>
                    <a href="/Medicine/Index"><i data-feather="package"></i> <span class="menu-item-text">ادویه</span></a>
                </li>
                <li>
                    <a href="/Salary/Index"><i data-feather="credit-card"></i> <span class="menu-item-text">معاشات</span></a>
                </li>
                <li>
                    <a href="/Buy/Index"><i data-feather="clipboard"></i> <span class="menu-item-text">خریدها</span></a>
                </li>
                <li>
                    <a href="/Sell/Index"><i data-feather="layout"></i> <span class="menu-item-text">فروشات</span></a>
                </li>
                <li class="submenu">
                    <a href="#"><i data-feather="bar-chart-2"></i> <span class="menu-item-text">راپورها</span><span class="menu-arrow"></span></a>
                    <ul>
                        <li><a href="/Report/Buy" style="color: black">خرید</a></li>
                        <li><a href="/Report/Sell" style="color: black">فروش</a></li>
                        <li><a href="/Report/Salary" style="color: black">معاش</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
