<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">روزنامچه خریداری</h3>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" onclick="printTable()">Print
                <i data-feather="printer"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <!form class="form form-horizontal" id="buyReportForm">
                    <div class="row" style="padding: 10px;">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>تاریخ شروع</label>
                                <input type="date" name="fromDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>تاریخ ختم</label>
                                <input type="date" name="toDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>کمپنی</label>
                                <select name="companyId" id="addBuyCompanyId"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>دوا</label>
                                <select name="medicineId" id="addBuyMedicineId"></select>
                            </div>
                        </div>
                    </div>
                </!form>
                <div id="printableDiv" class="table-responsive">
                    <table id="buyTable" class="table table-center table-hover table-responsive-sm table-stripped">
                        <thead class="thead-light">
                            <tr>
                                <th>شماره</th>
                                <th>کمپنی</th>
                                <th>دوا</th>
                                <th>قیمت مجموعی</th>
                                <th>پرداخت شده</th>
                                <th>مجموع باقی</th>
                            </tr>
                        </thead>
                        <tbody >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script {
<script>
    function printTable () {
        const fromDate = document.querySelector('input[name="fromDate"]').value;
        const toDate = document.querySelector('input[name="toDate"]').value;
        const div = document.querySelector('div[id="printableDiv"]');
        const myWindow = window.open('', 'PRINT', 'height=600,width=1400');
        const head = document.querySelector('head');
        myWindow.document.write('<html><head>');
        myWindow.document.write(head.innerHTML);
        myWindow.document.write(`</head><body style="margin: 10px; padding: 10px; text-align: center;">
            <h4 style="text-align: center;">راپور خریداری از تاریخ ${fromDate} تا تاریخ ${toDate}</h4>`);
        myWindow.document.write(div.innerHTML);
        myWindow.document.write('</body></html>');
        setTimeout(() => {
            const toHide = myWindow.document.querySelectorAll('#buyTable_wrapper > div:nth-child(odd)');
            for (let i = 0; i < toHide.length; i++) {
                console.log(toHide[i]);
                toHide[i].style = "display: none;";
            }
            myWindow.print();
            myWindow.close();
        }, 1200);
        return true;
    }
    var forgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
    $(document).ready(function() {
        const s = $("#addBuyMedicineId");
        const s1 = $("#addBuyCompanyId");
	    s.select2({
            tags: true,
            dropdownParent: s.parent(),
            ajax: { url: "/Medicine/GetList/" }
        });
	    s1.select2({
            tags: true,
            dropdownParent: s1.parent(),
            ajax: { url: "/Company/GetList/" }
        });
        $(s).on('select2:select', function (e) {
            const medId = e.params.data.id;
            console.log(medId);
            getReport();
        });
        $(s1).on('select2:select', function (e) {
            const comId = e.params.data.id;
            console.log(comId);
            getReport();
        });
    });
    const form = document.querySelector('form[id="buyReportForm"]');
    for (let i = 0; i < form.length; i++) {
        form[i].addEventListener('change', (event) => {
            console.log(event.currentTarget.value);
            getReport();
        });
    }
    async function getReport () {
        $('#buyTable').dataTable().fnDestroy();
        $('#buyTable').dataTable({
            stateSave: true,
            autoWidth: true,
            processing: true,
            paging: true,
            searching: { regex: false },
            ajax: {
                url: "/Report/BuyReport",
                type: "POST",
                dataType: "JSON",
                headers: {"PharmacyApp-ANTI-FORGERY-TOKEN": forgeryToken},
                data: await fetchAPI.getJSONFromForm(form),
            },
            columns: [
                {
                    data: "totalPrice",
                    render: function (date, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: "company", name: "company" },
                { data: "medicine", name: "medicine" },
                { data: "totalPrice", name: "totalPrice" },
                { data: "totalPaid", name: "totalPaid" },
                { data: "totalRemain", name: "totalRemain" },
            ]
        });
    }

</script>
}