<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">روزنامچه معاشات</h3>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" onclick="printTable()">Print
                <i data-feather="printer"></i>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card card-table">
            <div class="card-body">
                <!form class="form form-horizontal" id="buyReportForm">
                    <div class="row" style="padding: 10px;">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>تاریخ شروع</label>
                                <input type="date" name="fromDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>تاریخ ختم</label>
                                <input type="date" name="toDate" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>کارمند</label>
                                <select name="employeeId" id="addSalaryCompanyId"></select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>سال</label>
                                <select name="year" id="addSalaryYear" class="form-select">
                                    <option value="-1">انتخاب نمایید</option>
                                    <option value="1400">1400</option>
                                    <option value="1401">1401</option>
                                    <option value="1402">1402</option>
                                    <option value="1403">1403</option>
                                    <option value="1404">1404</option>
                                    <option value="1405">1405</option>
                                    <option value="1406">1406</option>
                                    <option value="1407">1407</option>
                                    <option value="1408">1408</option>
                                    <option value="1409">1409</option>
                                    <option value="1410">1410</option>
                                    <option value="1411">1411</option>
                                    <option value="1412">1412</option>
                                    <option value="1413">1413</option>
                                    <option value="1414">1414</option>
                                    <option value="1415">1415</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label>ماه</label>
                                <select name="month" id="addSalaryMonth" class="form-select">
                                    <option value="0">انتخاب نمایید</option>
                                    <option value="1">حمل</option>
                                    <option value="2">ثور</option>
                                    <option value="3">جوزا</option>
                                    <option value="4">سرطان</option>
                                    <option value="5">اسد</option>
                                    <option value="6">سنبله</option>
                                    <option value="7">میزان</option>
                                    <option value="8">عقرب</option>
                                    <option value="9">قوس</option>
                                    <option value="10">جدی</option>
                                    <option value="11">دلو</option>
                                    <option value="12">حوت</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </!form>
                <div id="printableDiv" class="table-responsive">
                    <table id="buyTable" class="table table-center table-hover table-responsive-sm table-stripped">
                        <thead class="thead-light">
                            <tr>
                                <th>شماره</th>
                                <th>سال</th>
                                <th>ماه</th>
                                <th>کارمند</th>
                                <th>پرداخت شده</th>
                            </tr>
                        </thead>
                        <tbody >
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script {
<script>
    function printTable () {
        const fromDate = document.querySelector('input[name="fromDate"]').value;
        const toDate = document.querySelector('input[name="toDate"]').value;
        const div = document.querySelector('div[id="printableDiv"]');
        const myWindow = window.open('', 'PRINT', 'height=600,width=1400');
        const head = document.querySelector('head');
        myWindow.document.write('<html><head>');
        myWindow.document.write(head.innerHTML);
        myWindow.document.write(`</head><body style="margin: 10px; padding: 10px; text-align: center;">
            <h4 style="text-align: center;">راپور معاشات از تاریخ ${fromDate} تا تاریخ ${toDate}</h4>`);
        myWindow.document.write(div.innerHTML);
        myWindow.document.write('</body></html>');
        setTimeout(() => {
            const toHide = myWindow.document.querySelectorAll('#buyTable_wrapper > div:nth-child(odd)');
            for (let i = 0; i < toHide.length; i++) {
                console.log(toHide[i]);
                toHide[i].style = "display: none;";
            }
            myWindow.print();
        }, 1200);
        return true;
    }
    const months = {
        "Hamal": "حمل",
        "Sawr": "ثور",
        "Jawza": "جوزا",
        "Saratan": "سرطان",
        "Asad": "اسد",
        "Sunbula": "سنبله",
        "Mizan": "میزان",
        "Aqrab": "عقرب",
        "Qaws": "قوس",
        "Jadi": "جدی",
        "Dalwa": "دلو",
        "Hoot": "حوت"
    };
    var forgeryToken = document.querySelector('input[name="__RequestVerificationToken"]').value;
    $(document).ready(function() {
        const s = $("#addSalaryCompanyId");
	    s.select2({
            tags: true,
            dropdownParent: s.parent(),
            ajax: { url: "/Employee/GetList/" }
        });
        $(s).on('select2:select', function (e) {
            const medId = e.params.data.id;
            console.log(medId);
            getReport();
        });
    });
    const form = document.querySelector('form[id="buyReportForm"]');
    for (let i = 0; i < form.length; i++) {
        form[i].addEventListener('change', (event) => {
            console.log(event.currentTarget.value);
            getReport();
        });
    }
    async function getReport () {
        $('#buyTable').dataTable().fnDestroy();
        $('#buyTable').dataTable({
            stateSave: true,
            autoWidth: true,
            processing: true,
            paging: true,
            searching: { regex: false },
            ajax: {
                url: "/Report/SalaryReport",
                type: "POST",
                dataType: "JSON",
                headers: {"PharmacyApp-ANTI-FORGERY-TOKEN": forgeryToken},
                data: await fetchAPI.getJSONFromForm(form),
            },
            columns: [
                {
                    data: "amount",
                    render: function (date, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { data: "year", name: "year" },
                { 
                    data: "month",
                    render: function (raw) {
                        if (raw)
                            return months[raw];
                        return "";
                    }
                },
                { data: "employee", name: "employee" },
                { data: "amount", name: "amount" },
            ]
        });
    }

</script>
}